.u-section-1 .u-sheet-1 {
  min-height: 12px;
}.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: 75px 278px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 405px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 443px 59px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 70px;
    margin-right: 78px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 205px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
} .u-section-4 {
  background-image: url("../images/image.png");
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 294px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 95.02%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 153px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 .u-sheet-1 {
  min-height: 432px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 329px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 91px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 329px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 91px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 329px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 91px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -7px;
    margin-bottom: 58px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -61px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -54px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -46px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
} .u-section-8 {
  background-image: url("../images/333.png");
}

.u-section-8 .u-sheet-1 {
  min-height: 276px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 470px;
}

.u-section-10 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 883px;
  margin: 12px auto 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-10 .u-text-4 {
  font-weight: 400;
  width: 227px;
  margin: 43px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 274px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  margin: 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-10 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-10 .u-text-7 {
  font-weight: 400;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
    margin-bottom: -25px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 728px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 87px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 50vh;
  }

  .u-section-10 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 12px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-10 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 .u-sheet-1 {
  min-height: 10px;
}